body {
  background-color: whitesmoke !important;
}

nav.navbar {
  background-color: crimson !important;
}

.navbar-nav > li > .dropdown-menu > li > .dropdown-item:active {
  background-color: crimson;
}